* {
    margin: 0;
    padding: 0;
}
/* Tablet dan perangkat seluler */
@media screen and (max-width: 768px) {
    /* Navigasi */
    .navigasi {
        position: fixed;
        bottom: 0;
    }

    .navigasi a {
        margin: 0 10px; 
    }

    /* Home container */
    .container {
        height: auto;
    }

    /* News section */
    .portofolio-section .card .card-img-top {
        height: 100px; /* Ubah tinggi gambar di bagian news */
    }
}
body {
    font-family: "Kavoon", serif;
    color: #fff;
    font-size: 12px;
    background-image: url('../asset/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* Tetapkan background agar tetap pada posisi yang sama */
}

/* CONTAINER */
.container {
    margin-top: 20px;
    border-radius: 20px;
    width: 95%;
    background-color: #5882c10b;
    border: 3px solid #5882c15a; /* Border linear dengan tebal 3 dan warna RGBA */
    backdrop-filter: blur(15px);

}

/* NAVIGASI */
nav {
    display: flex;
}
nav .navigasi {
    align-items: center;
    justify-content: center;
    text-align: center;
}
.navigasi a {
    margin-left: 25px ;
}

/* HOME SECTION */
.col-2{
    display: flex;
    align-items: center;
}

.col-6 {
    display: flex;
    align-items: center;
    height: auto;
}
.col-6 h1 {
    font-size: 24px;
}
.logo img{
    width: 62px;
}

.logo p {
    text-align: justify;
    width: 90%;
    margin: auto;
}


/* news container */
#news .container {
    display: flex;
}

.card {
    margin-top: 10vh ;
    margin-bottom: 10vh;
}

/* footer */
footer {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
}